/* Estilo general */
#body-login {
    margin: 0;
    background: rgb(243, 243, 224);
    background: linear-gradient(90deg, rgba(243, 243, 224, 1) 35%, rgba(203, 220, 235, 1) 64%, rgba(96, 139, 193, 1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #CBDCEB;
    width: 700px;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.login-container h1 {
    font-size: 20px;
    color: #133E87;
    letter-spacing: 2px;
    text-align: left;
    /* Alinear el título a la izquierda */
    margin-bottom: 20px;
    /* Espaciado debajo del título */
    border-bottom: 2px solid #133E87;
    /* Línea debajo del título */
    padding-bottom: 10px;
    /* Espaciado entre el texto y la línea */
}

.content-wrapper {
    display: flex;
    gap: 130px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.logo img {
    width: 200%;
    /* Tamaño del logo ajustado */
    height: auto;
    margin-left: 60px;
}

.form-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-top: 20px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #CBDCEB;
    font-size: 18px;
}

.input-group input {
    width: 87%;
    padding: 15px 15px 15px 40px;
    border: none;
    border-radius: 20px;
    background-color: #608BC1;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.input:-webkit-autofill {
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: 0 0 0px 1000px white inset !important; /* Truco para sobreescribir el fondo */
}

.input-group input::placeholder {
    color: #CBDCEB;
}

.input-group input:focus {
    outline: none;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.login-button {
    background-color: #133E87;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    align-self: flex-end;
    /* Alinear botón a la derecha */
    margin-top: 20px;
}

.login-button:hover {
    background-color: #0f2e65;
}
