/* Estilo general */
#body-login {
    margin: 0;
    background: rgb(243, 243, 224);
    background: linear-gradient(90deg, rgba(243, 243, 224, 1) 35%, rgba(203, 220, 235, 1) 64%, rgba(96, 139, 193, 1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #CBDCEB;
    width: 700px;
    /* Ancho aumentado */
    padding: 70px;
    /* Espaciado interno ajustado */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.login-container h1 {
    font-size: 20px;
    color: #133E87;
    letter-spacing: 2px;
    text-align: left;
    /* Alinear el título a la izquierda */
    margin-bottom: 20px;
    /* Espaciado debajo del título */
    border-bottom: 2px solid #133E87;
    /* Línea debajo del título */
    padding-bottom: 10px;
    /* Espaciado entre el texto y la línea */
}

.content-wrapper {
    display: flex;
    gap: 130px;
    /* Espacio entre el logo y los inputs */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.logo img {
    width: 200%;
    /* Tamaño del logo ajustado */
    height: auto;
    margin-left: 60px;
}

.form-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    /* Necesario para posicionar los íconos */
    margin-top: 20px;
    /* Espaciado entre los grupos */
}

.input-group i {
    position: absolute;
    /* Posiciona el ícono dentro del contenedor */
    top: 50%;
    /* Centra verticalmente el ícono */
    left: 15px;
    /* Espaciado desde la izquierda */
    transform: translateY(-50%);
    /* Ajusta el centrado */
    color: #CBDCEB;
    /* Color del ícono */
    font-size: 18px;
    /* Tamaño del ícono */
}

.input-group input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    /* Añadimos espacio a la izquierda para el ícono */
    border: none;
    border-radius: 20px;
    background-color: #608BC1;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.input-group input::placeholder {
    color: #CBDCEB;
}

.input-group input:focus {
    background-color: #4A78A9;
    /* Color diferente al hacer focus */
    outline: none;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.login-button {
    background-color: #133E87;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    align-self: flex-end;
    /* Alinear botón a la derecha */
    margin-top: 20px;
}

.login-button:hover {
    background-color: #0f2e65;
}